<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeSpotPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimeSpotPicker.Properties.Settings>
            <setting name="UseAltTimezone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AltTimezone" serializeAs="String">
                <value>Pacific Standard Time</value>
            </setting>
        </TimeSpotPicker.Properties.Settings>
    </userSettings>
</configuration>